.img-box {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.img-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.img-list li {
  width: 32%;
  height: 1.5rem;
  overflow: hidden;
  margin: 0.05rem;
  position: relative;
}

.img-list li img {
  width: 100%;
}
