.letter {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: .2rem;
  display: flex;
  flex-direction: column;
}

.letter span {
  display: block;
  height: 0.4rem;
  color: #666;
  font-size: 0.24rem;
  margin-top: 0.1rem;
  padding: 0 0.1rem;
}
