.car-type {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #eee;
  display: flex;
  flex-direction: column;
}

.tit {
  margin-top: .15rem;
  padding-left: .2rem;
  font-size: .3rem;
  line-height: .76rem;
  height: .76rem;
  background: #fff;
  overflow-x: scroll;
}

.tit span {
  margin-right: 0.4rem;
}

.tit span.active {
  color: #00afff;
}

.car-info-box {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.car-info {
  width: 100%;
}

.car-info-tit {
  width: 100%;
  display: flex;
  padding: 0 .2rem;
  height: .5rem;
  line-height: .5rem;
  font-size: .26rem;
  color: #999;
  background: #f4f4f4;
  box-sizing: border-box;
  overflow: hidden;
}

.car-info-list {
  width: 100%;
  background: #fff;
  display: flex;
}

.car-info-list li {
  width: 100%;
  overflow: hidden;
}

.car-info-list h1 {
  width: 100%;
  padding: .26rem 0.2rem;
  font-size: .3rem;
  line-height: 1;
  color: #3d3d3d;
  font-weight: normal;
}

.car-info-list h2 {
  width: 100%;
  padding: .1rem 0.2rem;
  color: #bdbdbd;
  font-size: .26rem;
  font-weight: normal;
}

.car-info-list h3 {
  width: 100%;
  padding-bottom: .1rem;
  font-weight: normal;
  display: flex;
}

.car-info-list h3 span:first-child {
  padding-left: 3.5rem;
  font-size: 0.3rem;
  color: #818181;
}

.car-info-list h3 span:last-child {
  font-size: 0.3rem;
  color: #ff2336;
  margin-left: .1rem;
}

.car-info-list h4 {
  width: 100%;
  overflow: hidden;
}

.car-info-list h4 button {
  width: 100%;
  border: none;
  border-top: 1px solid #eee;
  width: 110%;
  height: .8rem;
  font-size: .32rem;
  color: #00afff;
  background: #fff;
  font-weight: 500;
  margin-left: -.3rem;
  box-sizing: border-box;
  overflow: hidden;
}
