.detail-page {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.content {
    width: 100%;
    padding-bottom: 1rem;
    background: #f4f4f4;
    box-sizing: border-box;
    .img {
        width: 100%;
        height: 3.29rem;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
        }
        span {
            position: absolute;
            bottom: .3rem;
            right: .3rem;
            color: #fff;
            padding: .1rem;
            border-radius: .2rem;
            background: rgba(0, 0, 0, .6);
            font-size: .24rem;
            z-index: 99;
        }
    }
}

.info {
    width: 100%;
    padding: .36rem .2rem .3rem;
    box-sizing: border-box;
    display: flex;
    background: #fff;
    overflow: hidden;
    .pic {
        flex: 1;
        display: flex;
        flex-direction: column;
        span:first-child {
            display: block;
            height: 0.6rem;
            line-height: 0.6rem;
            font-size: .36rem;
            color: red;
            font-weight: 500;
        }
        span:last-child {
            display: block;
            height: 0.4rem;
            line-height: 0.4rem;
            font-size: .26rem;
            color: silver;
        }
    }
    .ask {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            width: 100%;
            height: 0.8rem;
            background: #00afff;
            color: #fff;
            border-radius: 0.1rem;
            border: 0;
            font-size: 0.28rem;
        }
    }
}

.car-list {
    width: 100%;
    box-sizing: border-box;
    .car-data {
        border-top: .15rem solid #f4f4f4;
        padding: 0 .3rem;
        font-size: .32rem;
        height: .77rem;
        line-height: .77rem;
        background: #fff;
        span {
            padding-right: .46rem;
        }
        span.active {
            color: #3aacff;
        }
    }
}

.car-info {
    width: 100%;
}

.car-info-tit {
    width: 100%;
    display: flex;
    padding: 0 .2rem;
    height: .5rem;
    line-height: .5rem;
    font-size: .26rem;
    color: #999;
    background: #f4f4f4;
    box-sizing: border-box;
    overflow: hidden;
}

.car-info-list {
    width: 100%;
    background: #fff;
    display: flex;
    li {
        width: 100%;
        overflow: hidden;
    }
    h1 {
        width: 100%;
        padding: .26rem 0.2rem;
        font-size: .3rem;
        line-height: 1;
        color: #3d3d3d;
        font-weight: normal;
    }
    h2 {
        width: 100%;
        padding: .1rem 0.2rem;
        color: #bdbdbd;
        font-size: .26rem;
        font-weight: normal;
    }
    h3 {
        width: 100%;
        padding-bottom: .1rem;
        font-weight: normal;
        display: flex;
        span:first-child {
            padding-left: 3.5rem;
            font-size: 0.3rem;
            color: #818181;
        }
        span:last-child {
            font-size: 0.3rem;
            color: #ff2336;
            margin-left: .1rem;
        }
    }
    h4 {
        width: 100%;
        overflow: hidden;
        button {
            width: 100%;
            border: none;
            border-top: 1px solid #eee;
            width: 110%;
            height: .8rem;
            font-size: .32rem;
            color: #00afff;
            background: #fff;
            font-weight: 500;
            margin-left: -.3rem;
            box-sizing: border-box;
            overflow: hidden;
        }
    }
}

footer {
    width: 100%;
    overflow: hidden;
    position: fixed;
    height: 1rem;
    bottom: 0;
    z-index: 99;
    background: #3aacff;
    height: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p:first-child {
        font-size: .32rem;
        width: 100%;
        text-align: center;
        line-height: 0.5rem;
    }
    p:last-child {
        width: 100%;
        text-align: center;
        font-size: 0.24rem;
    }
}