.master-list {
  width: 75%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  margin-left: 0.1rem;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s;
  background: #fff;
}

.active {
  transform: translate3d(0, 0, 0);
}

.master-list-box {
  width: 100%;
  background: #fff;
}

.goup {
  width: 100%;
  overflow: hidden;
}

.tit {
  font-size: .28rem;
  line-height: .8rem;
  background: #f4f4f4;
  padding-left: .3rem;
  color: #aaa;
}

.content-list {
  width: 100%;
  padding-left: 0.1rem;
  box-sizing: border-box;
}

.content-list li {
  height: 1.4rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.content-list li:last-child {
  border-bottom: 0;
}

.content-list li .img {
  margin: 0 .1rem 0.2rem;
  width: 1.8rem;
  height: 1rem;
  overflow: hidden;
}

.content-list li .img img {
  width: 100%;
}

.content-list li .content-text {
  flex: 1;
}

.content-list li .content-text p:first-child {
  font-size: .34rem;
  color: #5f687a;
}

.content-list li .content-text p:last-child {
  margin-top: .1rem;
  font-size: .28rem;
  color: red;
}
