.img-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
}

.img-page header {
  width: 100%;
  height: 0.8rem;
  display: flex;
  background: #fff;
}

.img-page header span {
  line-height: 0.8rem;
  text-align: center;
  flex: 1;
  font-size: 0.28rem;
}

.img-page header span:first-child {
  border-right: 0.02rem solid #ccc;
}

.img-box {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-top: 0.1rem;
}

.img-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.img-list li {
  width: 32%;
  height: 1.5rem;
  overflow: hidden;
  margin: 0.05rem;
  position: relative;
}

.img-list li img {
  width: 100%;
}

.item-msg {
  width: 100%;
  height: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-msg span {
  font-size: 0.28rem;
  color: #fff;
}

.item-msg span:last-child {
  margin-top: 0.05rem;
}
