.content-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.el-header {
  background-color: #04295a;
  color: #fff;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 200px;
  box-sizing: border-box;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}

.el-container.is-vertical {
  height: 100%;
}

.el-col-24 {
  height: 100%;
}

.el-menu {
  height: 100%;
}

.el-menu-item-group {
  box-sizing: border-box;
}
