    .login-box {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .demo-ruleForm {
        width: 80%;
    }
    
    .el-form-item {
        text-align: center;
        margin-bottom: 22px;
    }