.login-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-size: .28rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

header {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  background: #3190e8;
  padding: 0 0.2rem;
  display: flex;
  justify-content: center;
  position: relative;
}

header span {
  color: #fff;
  font-size: .6rem;
  position: absolute;
  left: 0.2rem;
}

header b {
  font-size: .36rem;
  font-style: normal;
  color: #fff;
}

.login-box {
  background: #fff;
  margin-top: .2rem;
}

.login-box p {
  width: 100%;
  padding-left: 0.2rem;
  height: 1rem;
  border-bottom: 1px solid #e4e4e4;
}

.login-box p input {
  width: 100%;
  height: 100%;
  line-height: 1rem;
}

.login-box p:last-child {
  display: flex;
}

.login-box p:last-child input {
  flex: 1;
}

.login-box p:last-child span {
  font-size: .48rem;
  line-height: 1rem;
  padding: 0 0.2rem;
  color: #3190e8;
}

.login-box p:last-child b {
  font-size: .32rem;
  color: #222;
  line-height: 1rem;
  padding: 0 0.2rem;
}

.btn {
  width: 100%;
  height: 1rem;
  margin-top: 0.5rem;
}

.btn .msg {
  margin-top: 0.2rem;
  color: red;
}

.btn button {
  margin-top: 0.2rem;
  width: 100%;
  height: 100%;
  background: #3190e8;
  color: #fff;
  font-size: .32rem;
}

.alert-box {
  width: 6rem;
  height: 4rem;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -3rem;
  margin-top: -2rem;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: .32rem;
  border-radius: .2rem;
}

.alert-box .ok {
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #3190e8;
  color: #fff;
  font-size: .32rem;
}
